
body{
  font-family: "Comfortaa";
  padding: 0;
  margin: 0;
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 100%;
  border-top: 16px solid #0d6efd;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
.nav-link:active{
  color: #0d6efd !important;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  background-color: #333;
}
.background{
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/images/jonatan-pie-h8nxGssjQXs-unsplash.jpg);
  background-size:cover;
}
@media screen and (min-width: 400px) {
  .home-header{
    font-size: 1em;
    padding-bottom: 30px;
  }
}
.nav-link{
  float: left;
}
section{
  padding-bottom: 100px;
  background-color: rgba(239, 238, 243, 1);
}
.nav-link:hover{
  color: #0d6efd !important;
}
.nav-link:active{
  color: #0d6efd;
}


/* resume */
.timeline{
  width: 600px;
  height: auto;
  margin: 50px auto 0;
  padding: 20px;
  box-sizing: border-box;
}
.timeline li{
  position: relative;
  list-style: none;
}
.timeline li .item{
   position: relative;
   min-height: 60px;
   padding:0 20px 20px 30px ;
   margin-left: 20px;
   border-left: 1px solid black;
}
.timeline li .item span{
  position: absolute;
  top: -8px;
  left: -20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: aliceblue;
  background-color: #333;
  font-weight: 700;
  border-radius: 100%;
}
.timeline li .item h3,
.timeline li .item p
.timeline li .item h5
{
  
  margin: 0;
  padding: 0;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 20px;
}
strong{
  border-bottom: 5px #0d6efd;
}