
body{
  font-family: "Comfortaa";
  padding: 0;
  margin: 0;
}
/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
.background{
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/images/jonatan-pie-h8nxGssjQXs-unsplash.jpg);
  background-size:cover;
}
@media screen and (min-width: 400px) {
  .home-header{
    font-size: 1em;
    padding-bottom: 30px;
  }
}
.nav-link{
  float: left;
}
section{
  padding-bottom: 100px;
  background-color: rgba(239, 238, 243, 1);
}
.active{
  color: #0d6efd;
}
.active:hover{
  color: #0d6efd !important;
  border-bottom: 5px #0d6efd !important;
}
h1 {
  padding: 0px 0px 0 8px;
  position: relative;
}
/* 
.header::before {
  content: "";
  position: absolute;
  left: 40%;
  bottom: 16px;
  width: 150px;
  height: 14px;
  transform: skew(-12deg) translateX(-50%);
  background: #0d6efd;
  z-index: -1;
}
.skills::before {
  content: "";
  position: absolute;
  left: 45%;
  bottom: 16px;
  width: 150px;
  height: 14px;
  transform: skew(-12deg) translateX(-50%);
  background: #0d6efd;
  z-index: -1;
}
.contact::before {
  content: "";
  position: absolute;
  left: 38%;
  bottom: 10px;
  width: 150px;
  height: 14px;
  transform: skew(-12deg) translateX(-50%);
  background: #0d6efd;
  z-index: -1;
}
.project::before {
  content: "";
  position: absolute;
  left: 41%;
  bottom: 13px;
  width: 150px;
  height: 14px;
  transform: skew(-12deg) translateX(-50%);
  background: #0d6efd;
  z-index: -1;
} */

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 20px;
}
strong{
  border-bottom: 5px #0d6efd;
}